@model IEnumerable<ReadPlayCode.Models.IBlogPost>
@{
    ViewBag.Title = "AAA Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div>
        @foreach (var blogpost in Model)
        {
            <article data-role="blogpost">
                <header>
                    <h3>@blogpost.Title</h3>
                    <h4>@blogpost.Author.DisplayName</h4>
                    <h5>@blogpost.Created</h5>
                </header>
                <div data-role="blogpost-body">
                    @Html.Raw(blogpost.Text)
                </div>
            </article>
        }
    </div>
</div>